* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: red;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 20px solid blue;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Banner Principal */
.banner {
    height: 300px;
    background: url('ola.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(27, 154, 170);
    margin-top: 60px;
}

.banner-text h1 {
    font-size: 36px;
    text-transform: uppercase;
}

.banner-text p {
    font-size: 18px;
    margin-top: 10px;
}

/* Seção Quem Somos */
.quem-somos {
    background: #f4f4f4;
    padding: 50px 0;
}

.container {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: auto;
    gap: 20px;
}

.container img {
    width: 50%;
    border-radius: 10px;
}

.text {
    width: 50%;
}

.text h2 {
    font-size: 28px;
    color: red;
    margin-bottom: 10px;
}

.text p {
    font-size: 18px;
    margin-bottom: 15px;
}

button {
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkred;
}

img{
    border: 5px solid rgb(27, 154, 170);
}

    